<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
  <h1>Pod</h1>
  <h6>name:{{pod.name}}</h6>
  <h6>price: {{pod.price}}</h6>
  <h6>img: {{pod.image}}</h6>
  <h6>time: {{pod.time}}</h6>
  <h6>date: {{pod.date}}</h6>
  <h6>taken: {{pod.taken}}</h6>
  <h6>rooms: {{pod.rooms}}</h6>
  <h6>notes: {{pod.notes}}</h6>
  <h6>clients: {{pod.clients}}</h6>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
